@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.mendeleev {
  width: calc(18 * 50px);
  display: flex;
  flex-direction: column;
}

.mendeleev .row-1,
.mendeleev .row-2 {
  display: flex;
  justify-content: space-between;
}

.mendeleev .row-2 .col-1,
.mendeleev .row-2 .col-2,
.mendeleev .row-3,
.mendeleev .row-inner {
  display: flex;
}

.mendeleev .element {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  width: 50px;
  height: 50px;
  border: 1px solid #444;
  position: relative;
  user-select: none;
}

.mendeleev .element .symbol {
  font-size: 15px;
  color: #111;
}

.mendeleev .element .number {
  position: absolute;
  top: 2px;
  left: 3px;
  font-size: 9px;
  font-weight: 500;
  color: #222;
}

.mendeleev .element .mass {
  position: absolute;
  top: 2px;
  right: 3px;
  font-size: 7px;
  font-weight: 400;
  color: #333;
}

.mendeleev .rhombus,
.mendeleev .star {
  border: 1px solid transparent;
  background: transparent !important;
}

.mendeleev .element img {
  width: 20px;
  height: 20px;
}

.mendeleev .inner-transition-block {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mendeleev .alkali-metal {
  background: linear-gradient(135deg, #c7894a, #ffffff);
}

.mendeleev .alkaline-earth {
  background: linear-gradient(135deg, #2b6cb0, #ffffff);
}

.mendeleev .transition-metal {
  background: linear-gradient(135deg, #b9df88, #ffffff);
}

.mendeleev .other-metal {
  background: linear-gradient(135deg, #a0aec0, #ffffff);
}

.mendeleev .non-metal {
  background: linear-gradient(135deg, #ece21d, #ffffff);
}

.mendeleev .halogen {
  background: linear-gradient(135deg, #63b3ed, #ffffff);
}

.mendeleev .inert-gas {
  background: linear-gradient(135deg, #ed8936, #ffffff);
}

.mendeleev .lanthanide-series .element:not(.marker) {
  background: linear-gradient(135deg, #9b2c6b, #ffffff);
}

.mendeleev .actinide-series .element:not(.marker) {
  background: linear-gradient(135deg, #805ad5, #ffffff);
}